
body {
    font-family: Serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #215b8e;


    /* Flexbox to center content */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
}

.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	 background-color: #f0f0f0; 
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

  .table {
      overflow-x: auto;
      margin: 20px auto;
    }
	
	
/*schedule*/
    table {
      width: 100%;          /* fill its container */
      max-width: 800px;     /* but never exceed 800px */
      border-collapse: collapse;
      table-layout: fixed;  /* force even column widths */
      min-width: 600px;     /* ensure readability before scrolling */
    }
    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
      word-wrap: break-word; /* wrap long text */
    }
    th {
	background-color: #f4f4f4;}
	
	
	/* index */
	
	     .nav-links a {
            display: block;
            text-decoration: none;
            background-color: #ff5e57;
            color: white;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            font-size: 18px;
        }

        .nav-links a:hover {
            background-color: #ff2e2e;
        }
		
		#bi {
            display: flex;
            justify-content: center;
            align-items: center;
             min-height: 100vh;
            text-align: center;
        }
		
		
		
		
		/* contact */
		 button:hover {
            background-color: #0056b3;
        }
		
		   #ss {
            background-color: #007BFF;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
			
        }
		
		 .form-container {
            max-width: 600px;
            margin: auto;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
		
		 
		 /*quiz*/
		      button:hover {
            background-color: #0056b3;
        }
        .result, .final-message {
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
		#bq {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 20px auto;
        }