/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
   background-color: #215b8e;
}

.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}


ul {
    list-style-type: square;
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}